@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "THICCCBOI";
  src: url("/public/THICCCBOI-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "THICCCBOI";
  src: url("/public/THICCCBOI-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "THICCCBOI";
  src: url("/public/THICCCBOI-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "THICCCBOI";
  src: url("/public/THICCCBOI-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "THICCCBOI";
  src: url("/public/THICCCBOI-Bold.woff2");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
